{% extends "template.html" %}

{% block main %}

    <section class="card m-5">
        <header class="card-header">
            <h3>usuario</h3>
        </header>
        <div class="card-body">
            <a href="/usuario/adicionar" class="btn btn-primary m-2">Adicionar</a>
            <table class="table">
                <thead>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>email</th>
                    <th>senha</th>
                    <th>Ações</th>
                </thead>
                <tbody>
                    {% for usuario in usuario %} 
                        <tr>
                            <td>{{usuario.id}}</td>
                            <td>{{usuario.nome}}</td>
                            <td>{{usuario.email}}</td>
                            <td>{{usuario.senha}}</td>
                            <td>
                                <a href="/usuario/editar/{{usuario.id}}">Editar</a>
                                <a href="/usuario/deletar/{{usuario.id}}">Excluir</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- card-body -->
    </section><!-- card-->

   
{% endblock %}